<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Add Transaction</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Add New Transaction!</h1>
                                </div>
                                <form method="post" th:action="@{/transaction/addtransaction}" class="user">
                                    <div class="form-group">
                                        <input required="" name="price" type="number" class="form-control form-control-user" id="price"
                                               placeholder="Price">
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group rounded-pill border p-1">
                                            <label for="isPeriodic" class="form-control bg-transparent border-top-0 border-bottom-0 border-left-0" >Periodic</label>
                                            <div class="input-group-prepend">
                                                <div class="input-group-text bg-transparent border-0">
                                                    <input type="checkbox" id="isPeriodic" name="isPeriodic">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <select name="type" class="form-control rounded-pill p-1" id="type">
                                            <option value="" selected>Select Type</option>
                                            <option value="income">INCOME</option>
                                            <option value="expense">EXPENSE</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <select name="categoryId" id="categoryId" class="form-control rounded-pill p-1">
                                                <option value="" selected>Select Category</option>
                                                <option th:each="category : ${categoryList}" th:value="${category.id}" th:text="${category.name}"></option>
                                            </select>
                                        </div>
                                        <div class="col-sm-6">
                                            <select name="periodId" id="periodId" class="form-control rounded-pill p-1">
                                                <option value="" selected>Select Period</option>
                                                <option th:each="period : ${periodList}" th:value="${period.id}" th:text="${period.type}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="/dashboard" style="text-decoration:none; ">
                                                <button type="button" class="btn btn-danger btn-user btn-block">Cancel</button>
                                            </a>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-primary btn-user btn-block">Add Transaction</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-3 d-none d-lg-block"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- Periodic checkbox and dropdown functionality -->
<script>
    // Add an event listener to the isPeriodic checkbox
    const periodDropdownElement = document.getElementById("periodId");
    const isPeriodicCheckbox = document.getElementById("isPeriodic");

    // Initially hide the dropdown
    periodDropdownElement.style.display = "none";

    isPeriodicCheckbox.addEventListener("change", togglePeriodDropdown);

    function togglePeriodDropdown() {
        // Show/hide the periodId dropdown based on the checkbox state
        periodDropdownElement.style.display = isPeriodicCheckbox.checked ? "block" : "none";
    }
</script>

<!-- Bootstrap core JavaScript-->
<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/static/js/sb-admin-2.min.js"></script>

</body>

</html>